header{
    width: 100vw;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#appContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;

}

section{
    background-color: white;
    border: 1px solid black;
    width:40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap
    
}

.appForm{
    border:1px solid black;
    height: 30%;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#contactsSection{
    display: flex;
    flex-direction: column;
}

#contactsPanel{
    border:1px solid black;
    width:40%;
    height: 80%;
    overflow-y: scroll;
}

#contactsPanel div{
    background-color: rgb(169, 169, 233);
    margin-bottom:5px;
    font-size: larger;
    text-align: center;
    font-style: italic;
}

b{
    color:red;
}

i{
    color: brown;
}

.appForm input{
    width: 100%;
}

#delMessage{
    color:red;
    background-color: yellow;
    display: none;
}

#deleteDiv{
    flex-direction: column-reverse;
}

#appErrorDiv{
    display: none;
}