header{
    width: 100vw;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #523A28;
    color: #E4D4C8;
}

#appContainer{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}

section{
    background-color: transparent;
    width:40%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap
    
}

#contactsSection{
    display: flex;
    justify-content: space-around
}

.appForm{
    background-color: #A47551;

    height: 90%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

#contactsSection{
    display: flex;
    flex-direction: column;
}

#contactsPanel{
    border:1px solid black;
    width:40%;
    height: 80%;
    overflow-y: scroll;
}

#contactsPanel div{
    background-color: rgb(169, 169, 233);
    margin-bottom:5px;
    font-size: larger;
    text-align: center;
    font-style: italic;
}

b{
    color:red;
}

i{
    color: brown;
}

.appForm input{
    width: 100%;
    background-color: #E4D4C8;
    color: #523A28;
}
.appForm button{
    background-color: #E4D4C8;
    color: black;
}
#delMessage{
    color:red;
    font-weight: bolder;
    display: none;
}

#deleteDiv{
   background-color: transparent;
}

#appErrorDiv{
    display: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background-image: url('../laugh.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    
}

/* #sagi{
    max-height: 100%;
    max-width: 100%;
} */
.flexFunctionDivs{
width: 100%;
}
#errorText{
    font-size: 2vmax;
   margin-left: auto;
   margin-right: auto;
    margin-top: 2%;
}

h2{
    text-align: center;
}