@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Serif Khojki', serif;

    
}
h1{
    font-family: 'Bubblegum Sans', cursive;
}
main{
    overflow-x: hidden;
    background-color: #D0B49F;
    height: 100vh;
    width: 100vw;
 
}

form{
    font-size: 4vmin;
    position: absolute;
    top:20%;
    width: 40%;
    background-color:  #A47551;
    left: 30%;
    right: 30%;
 
}

h2{
    font-family: 'Bubblegum Sans', cursive;
}

form label{
    font-family: 'Bubblegum Sans', cursive;
    font-weight: bolder;
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 1;
}
form input{
    font-family: 'Bubblegum Sans', cursive;
    background-color: #E4D4C8;
    color: #523A28;
    display: block;
    margin-bottom: 5%;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 1;
}
form button{
    font-family: 'Bubblegum Sans', cursive;
    background-color: #E4D4C8;
    color: black;
    display: block;
    margin-top: 5%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 1;
}

#goodreg{
    font-family: 'Bubblegum Sans', cursive;
    display: none;
    font-size: 2vmin;
    background-color: white;
    text-align: center;
    color: red;
}
#errorreg{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    color: red;
    display: none;
    font-size: 2vmin;
    background-color: white;
}

#errorlog{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    color: red;
    display: none;
    font-size: 2vmin;
    background-color: white;
}

.switchButt{
    margin-bottom: 5%;
}